<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1750">
    <div class="cs-container">
        <div class="cs-form-group">
            <div class="cs-content">
                <span class="cs-topper">Let’s Get Started</span>
                <h2 class="cs-title">Your Dream Home is Just a Click Away</h2>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-1750" name="Contact Form" method="post">
                <label class="cs-label">
                    Name *
                    <input class="cs-input" required type="text" id="name-1750" name="name" placeholder="John Doe">
                </label>
                <label class="cs-label cs-email">
                    Email *
                    <input class="cs-input" required type="email" id="email-1750" name="email" placeholder="name@company.com">
                </label>
                <label class="cs-label cs-phone">
                    Phone *
                    <input class="cs-input" required type="phone" id="phone-1750" name="phone" placeholder="+1 (206) 987-6543">
                </label>
                <label class="cs-label">
                    Message *
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-1750" placeholder="Hello, I am interested..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
            </form>
        </div>
        <!--Contact Info-->
        <div class="cs-info-group">
            <div class="cs-info">
                <span class="cs-topper">Location</span>
                <span class="cs-detail">234-244 Stockwell Rd, 4th Floor<br>Brixton, SW9 9SP</span>
            </div>
            <div class="cs-info">
                <span class="cs-topper">Working Hours</span>
                <span class="cs-detail">Monday - Saturday: 10:00 - 20:00</span>
                <span class="cs-detail">Sunday: Closed</span>
            </div>
            <div class="cs-info">
                <span class="cs-topper">Contact</span>
                <span class="cs-detail">M: +99 40 70 929</span>
                <span class="cs-detail">E: info@stitchgym.com</span>
            </div>
        </div>
    </div>

    <div class="cs-picture-group">
        <!--Replace with your iframe for your google business profile-->
        <iframe class="cs-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d185624.16692484156!2d-84.19034790347794!3d43.369127904711156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8823c0e31112a9cd%3A0xe01d7bd1af061011!2sSaginaw%20County%2C%20MI!5e0!3m2!1sen!2sus!4v1740937843698!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <!--All three graphics use the same src, which is transformed in the CSS. If you want to replace the graphic with another one, simply replace all the src's with the same URL and watch the magic happen!-->
        <img class="cs-graphic cs-top cs-light" src="/assets/svgs/splatter6.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
        <img class="cs-graphic cs-left cs-light" src="assets/svgs/splatter6.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
        <img class="cs-graphic cs-bottom cs-light" src="assets/svgs/splatter6.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >

        <!--This is a dark version. Download the images and change the fill color to match the color of the section background below it-->
        <img class="cs-graphic cs-top cs-dark" src="assets/svgs/splatter5.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
        <img class="cs-graphic cs-left cs-dark" src="assets/svgs/splatter5.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
        <img class="cs-graphic cs-bottom cs-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-hero-shape-top-dark.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    </div>

</section>
                                