<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<!--NOTE: Make sure the section above this footer has the same background color as the footer for a seamless trasition between them-->

<footer id="cs-footer-1763">
    <!--Contact Info-->
    <div class="cs-card-group">
        <div class="cs-card">
            <picture class="cs-picture">
                <img class="cs-icon" src="/assets/svgs/gym-footer-location-pin.svg" alt="location" loading="lazy" decoding="async" height="32" width="32">
            </picture>
            <div class="cs-flex">
                <h3 class="cs-h3">Location</h3>
                <span class="cs-card-info">234-244 Stockwell Rd, 4th Floor Brixton, SW9 9SP</span>
            </div>
        </div>
        <div class="cs-card">
            <picture class="cs-picture">
                <img class="cs-icon" src="/assets/svgs/gym-footer-clock.svg" alt="clock" loading="lazy" decoding="async" height="32" width="32">
            </picture>
            <div class="cs-flex">
                <h3 class="cs-h3">Working Hours</h3>
                <span class="cs-card-info">Monday - Saturday: 10:00 - 20:00 </span>
                <span class="cs-card-info">Sunday: Closed</span>
            </div>
        </div>
        <div class="cs-card">
            <picture class="cs-picture">
                <img class="cs-icon" src="/assets/svgs/gym-footer-call.svg" alt="phone" loading="lazy" decoding="async" height="32" width="32">
            </picture>
            <div class="cs-flex">
                <h3 class="cs-h3">Contact</h3>
                <a href="" class="cs-card-info">M: +99 40 70 929 </a>
                <a href="" class="cs-card-info">E: info@stitchgym.com</a>
            </div>
        </div>
        <img class="cs-graphic cs-light" src="/assets/svgs/long-texture.svg" alt="graphic" height="151" width="1920" loading="lazy" decoding="async">
       
    </div>
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/logo-black.svg" alt="logo" width="240" height="32">
            </a>
            <p class="cs-text">
                Your Dream Home is Just a Click Away
            </p>
        </div>
        <!--
        <div class="cs-ul-wrapper">
            <span class="cs-header">Our Services</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="">Personal Training</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Group Workout</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Muscle Building</a>
                </li>
            </ul>
        </div>
        <div class="cs-ul-wrapper">
            <span class="cs-header">Useful Links</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="">About Stitch Gym</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Membership Details</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Class Timetable</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Contact Us</a>
                </li>
            </ul>
        </div> -->
        <div class="cs-contact">
            <div class="cs-contact-info">
                <span class="cs-topper">Call us anytime</span>
                <a href="" class="cs-contact-link">+123 458 789412</a>
            </div>
            <div class="cs-contact-info">
                <span class="cs-topper">Visit our location</span>
                <a href="" class="cs-contact-link">17110 116th Ave SE Unit Renton, WA 38058-5055</a>
            </div>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2025 - <a href="http://tricitytech.net" class="cs-credit-link" target="_blank">TriCity Technologies</a>
        </span>
        
    </div>
</footer>
                                