<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="" class="cs-logo" aria-label="back to home">
            <img src="/assets/svgs/logo-black.svg" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
        
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link cs-active">
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="#services-1838" class="cs-li-link">
                            Services
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="#why-choose-1876" class="cs-li-link">
                            Why Choose Us?
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="#reviews-1832" class="cs-li-link">
                            Reviews
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="#pricing-1790" class="cs-li-link">
                            Pricing
                        </a>
                    </li>
                    <li class="cs-li tct">
                        <a href="http://tricitytech.net" class="cs-li-link">
                            TriCity Technologies- Get Your Site Here!
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
       
    </div>
</header>
                                