---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1836">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Bring Your Vision to Life</span>
            <h1 class="cs-title"> Transform Your Space with Expert Care</h1>
            <p class="cs-text">
                Whether you're refreshing a single room or revamping your entire home, our expert team delivers flawless painting and interior design services. This is a sample website, showcasing how your business can stand out online. Imagine your brand here!
            </p>
            <a href="" class="cs-button-solid">Get a Stunning Website Like This</a>
            <img class="cs-content-graphic" src="/assets/svgs/graphic1.svg" alt="graphic" height="1075" width="1135" loading="lazy" decoding="async">
        </div>
    </div>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hero.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
        <img loading="lazy" decoding="async" src="/assets/images/hero.webp" alt="field" width="1920" height="1200" aria-hidden="true">
    </picture>
    <img class="cs-graphic" src="/assets/svgs/splatter1.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
</section>
 
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1838">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">What We Offer</span>
                <h2 class="cs-title">Professional Services for a Picture-Perfect Home</h2>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Interior Painting Excellence</h3>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/card1.webp">
                    <source media="(min-width: 601px)" srcset="assets/images/card1.webp">
                    <img decoding="async" src="assets/images/card1.webp" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Custom Color Consultations</h3>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/card2.webp">
                    <source media="(min-width: 601px)" srcset="assets/images/card2.webp">
                    <img decoding="async" src="assets/images/card2.webp" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Detailed Trim & Cabinet Refinishing</h3>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/card3.webp">
                    <source media="(min-width: 601px)" srcset="assets/images/card3.webp">
                    <img decoding="async" src="assets/images/card3.webp" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Modern Interior Design Solutions</h3>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/card4.webp">
                    <source media="(min-width: 601px)" srcset="assets/images/card4.webp">
                    <img decoding="async" src="assets/images/card4.webp" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
          
        </ul>
    </div>
    <div class="cs-video-wrapper">
<picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/serviceHero.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/serviceHero.webp">
            <img loading="lazy" decoding="async" src="/assets/images/serviceHero.webp" alt="body builder" width="630" height="877">
        </picture> 
    </div>
    <img class="cs-graphic cs-light" src="/assets/svgs/splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async">
</section>
                   

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1876">
    <div class="cs-container">
        <div class="cs-video-wrapper">
            <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/whyRight.webp">
                    <source media="(min-width: 601px)" srcset="assets/images/whyRight.webp">
                    <img loading="lazy" decoding="async" src="assets/images/whyRight.webp" alt="body builder" width="630" height="877">
                </picture> 
        </div>
        <div class="cs-content">
            <span class="cs-topper">The Difference is in the Details</span>
            <h2 class="cs-title">Elevate Your Home with Expert Craftsmanship</h2>
            <p class="cs-text">
                Your space deserves more than a basic paint job. With our services (and a great website like this one), you can impress clients and showcase your expertise. Here’s why your business needs a professional site:
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    Showcase your work with a beautiful, modern design
                </li>
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    Attract more clients with clear, engaging content
                </li>
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    Build credibility with customer testimonials and trust signals
                </li>
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    Make booking easy with clear calls to action
                </li>
            </ul>
            <a class="cs-button-solid" href="">See How Your Business Can Shine</a>
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="assets/images/whyLeft.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="assets/images/whyLeft.webp">
                <img loading="lazy" decoding="async" src="assets/images/whyLeft.webp" alt="people" width="608" height="406">
            </picture>
        </div>
    </div>
    <!--White Splash Graphic-->
    <img class="cs-graphic cs-light" src="/assets/svgs/splatter3.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
</section>


<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-1832">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Happy Clients, Beautiful Spaces</span>
            <h2 class="cs-title">What Your Clients Will Say</h2>
        </div>
        <div class="cs-flex-group">
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/guy.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/guy.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/guy.webp" alt="person" width="570" height="680">
                </picture>

                <!--White SVG Mask. Download the image and change the fill color to match the color of the section background below it-->
                <img class="cs-mask cs-light" loading="lazy" decoding="async" src="/assets/svgs/white-paint-stroke.svg" alt="white splatter" width="700" height="666">
            </div>
            <div class="cs-review-group">
                <!--Stars-->
                <img class="cs-stars" loading="lazy" decoding="async" src="/assets/svgs/stars-gym.svg" alt="quotes" width="97" height="80" aria-hidden="true">
                <p class="cs-review-text">
                    "Absolutely thrilled with the transformation! The attention to detail and expert craftsmanship made all the difference. Highly recommend!" 
                </p>
                <span class="cs-name">– [Insert Name]</span>
               
                <!--Quote-->
                <img class="cs-quote" loading="lazy" decoding="async" src="/assets/svgs/grey-quote.svg" alt="quotes" width="97" height="80" aria-hidden="true">
            </div>
        </div>
    </div>
  </section>
  
<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-1790">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Transparent & Affordable</span>
                <h2 class="cs-title">Packages Tailored to Your Needs</h2>
            </div>
            <a href="" class="cs-button-solid">Book Appointment</a>
        </div>
        <div class="cs-wrapper">
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/mech-check.svg" alt="checkmark" width="24" height="24">
                    Free Initial Consultation
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/mech-check.svg" alt="checkmark" width="24" height="24">
                    Custom Color Selection
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/mech-check.svg" alt="checkmark" width="24" height="24">
                    Professional Surface Preparation
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/mech-check.svg" alt="checkmark" width="24" height="24">
                    Expert Application
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/mech-check.svg" alt="checkmark" width="24" height="24">
                    Detailed Finishing Touches
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/mech-check.svg" alt="checkmark" width="24" height="24">
                    Trim & Cabinet Refinishing Options
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/mech-check.svg" alt="checkmark" width="24" height="24">
                    Satisfaction Guaranteed
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/mech-check.svg" alt="checkmark" width="24" height="24">
                    Interior Design Consultations Available
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/mech-check.svg" alt="checkmark" width="24" height="24">
                    Fully Licensed & Insured
                </li>
              
            </ul>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-package">Free Pass</span>
                    <div class="cs-flex-wrapper">
                        <span class="cs-price">$49.99</span>
                        <span class="cs-frequency">
                            /Month
                        </span>
                    </div>
                    <p class="cs-item-text">
                        This month to month option allows you to workout up to four times a month. Reservation needed four timed.
                    </p>
                    <a href="" class="cs-button-solid cs-price-button">Book Appointment</a>
                </li>
                <li class="cs-item cs-popular">
                    <span class="cs-package">Weekly Pass</span>
                    <div class="cs-flex-wrapper">
                        <span class="cs-price">$99.99</span>
                        <span class="cs-frequency">
                            /Month
                        </span>
                    </div>
                    <p class="cs-item-text">
                        This month to month option allows you to workout up to four times a month. Reservation needed four timed.
                    </p>
                    <a href="" class="cs-button-solid cs-price-button">Book Appointment</a>
                </li>
                <li class="cs-item">
                    <span class="cs-package">Monthly Pass</span>
                    <div class="cs-flex-wrapper">
                        <span class="cs-price">$149.99</span>
                        <span class="cs-frequency">
                            /Month
                        </span>
                    </div>
                    <p class="cs-item-text">
                        This month to month option allows you to workout up to four times a month. Reservation needed four timed.
                    </p>
                    <a href="" class="cs-button-solid cs-price-button">Book Appointment</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- SVG Graphic -->
    <img class="cs-graphic cs-light" src="/assets/svgs/splatter7.svg" alt="graphic" height="1920" width="483" loading="lazy" decoding="async" aria-hidden="true">
</section>
                                
                                

   
    {% include 'components/cta.html' %}
{% endblock %}